:root {
  --accent-color: #2196f3;
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color-theme-light: #757575;
  --secondary-text-color-theme-light: #212121;
  --primary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
  --card-item: 3;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color-theme-light);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.modal-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 32px;
  border: none;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: var(--primary-text-color-theme-dark);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  transition: background-color var(--transition);
}

.modal-button:hover, .modal-button:focus {
  background-color: #188CE8;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #afb1b8;
  transition: background-color var(--transition), color var(--transition);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-dark);
}

.social-list-icon {
  fill: currentColor;
  transition: fill var(--transition);
}

.logo {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.header__logo {
  margin-right: 92px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__logo_part {
  color: var(--secondary-text-color-theme-light);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-logo-part {
  color: var(--primary-text-color-theme-dark);
}

.secondary-tittle {
  margin-bottom: 50px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color-theme-light);
}

.third-rate-tittle {
  font-size: 14px;
  font-style: normal;
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
}

.list-margins {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.list-item-margins {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / var(--card-item) - 30px);
}

.main-tittle {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  max-width: 696px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(135deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 580px;
  background-color: #ffffff;
  transition: transform 500ms linear;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--accent-color);
}

.modal-close-icon {
  transition: fill var(--transition);
}

.modal-description {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color-theme-light);
  margin-bottom: 12px;
}

.contact-form-name {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.contact-form-field {
  display: block;
  margin-bottom: 10px;
}

.contact-form-input-wrapper {
  position: relative;
}

.contact-form-label:not(:last-child) {
  margin-bottom: 10px;
}

.comment-form-field {
  margin-bottom: 20px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition);
  cursor: pointer;
}

.contact-form-input:hover, .contact-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-input:hover + .modal-input-icon,
.contact-form-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-input-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition);
}

.contact-form-massage {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.contact-form-massage::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  line-height: 1;
}

.contact-form-checkbox-wrapper {
  margin-bottom: 30px;
}

.checkbox-window {
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-text-color-theme-light);
  border-radius: 2px;
  cursor: pointer;
  content: '';
  margin-right: 9px;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition);
}

.condition-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.contact-form-checkbox:focus + label > .checkbox-window {
  outline: 1px solid var(--secondary-text-color-theme-light);
}

.contact-form-checkbox:checked + label > .checkbox-window {
  background-color: var(--accent-color);
  border-color: transparent;
}

.header {
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color-theme-light);
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  transition: color var(--transition);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.active-page {
  color: var(--accent-color);
}

.active-page::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -1px;
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-list__item:not(:last-child) {
  margin-right: 50px;
}

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages {
  padding-bottom: 0;
  --card-item: 4;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.advantages__tittle {
  color: var(--secondary-text-color-theme-light);
}

.advantages__description {
  font-style: normal;
}

.service-list-item {
  position: relative;
}

.service-list-description {
  display: flex;
  color: var(--primary-text-color-theme-dark);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px;
  font-weight: 700;
  line-height: 1.14;
  background-color: rgba(47, 48, 58, 0.8);
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.team {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  --card-item: 4;
}

.team-mate {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-text-color-theme-dark);
}

.teammate-description {
  padding: 30px;
  text-align: center;
}

.teammate-tittle {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--secondary-text-color-theme-light);
}

.speciality {
  margin-bottom: 16px;
}

.clients {
  --card-item: 6;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid currentColor;
  color: #afb1b8;
  border-radius: 4px;
  transition: color var(--transition);
}

.clients-list-link:hover, .clients-list-link:focus {
  color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-place:hover, .address-place:focus {
  color: var(--accent-color);
}

.address-list-link {
  color: var(--secondary-text-color-theme-dark);
  transition: color var(--transition);
}

.address-list-link[target="_blank"] {
  color: var(--primary-text-color-theme-dark);
}

.address-list-link:hover, .address-list-link:focus {
  color: var(--accent-color);
}

.footer-item:not(:last-child) {
  margin-right: 70px;
}

.footer-social-link {
  color: var(--primary-text-color-theme-dark);
}

.social-links-tittle {
  margin-bottom: 20px;
  color: var(--primary-text-color-theme-dark);
}

.footer-social-list .social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-item:last-child {
  margin-left: auto;
}

.email-form {
  display: flex;
}

.email-form-field {
  margin-right: 12px;
}

.email-form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 360px;
  height: 50px;
  background-color: transparent;
  padding: 15px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-text-color-theme-dark);
}

.telegram-icon {
  margin-left: 10px;
}

.portfolio-filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filter-item:not(:last-child) {
  margin-right: 9px;
}

.portfolio-button-filter {
  padding: 6px 22px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--secondary-text-color-theme-light);
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition), color var(--transition), box-shadow var(--transition);
}

.portfolio-button-filter:hover, .portfolio-button-filter:focus,
.portfolio-button-filter .active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-dark);
}

.active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-dark);
}

.project-list-item-overlay {
  position: relative;
  overflow: hidden;
}

.project-overlay-description {
  color: var(--primary-text-color-theme-dark);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  font-size: 18px;
  line-height: 1.55;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition);
}

.project-list-link {
  display: block;
  transition: box-shadow var(--transition);
}

.project-list-link:hover, .project-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list-link:hover .project-overlay-description,
.project-list-link:focus .project-overlay-description {
  transform: translateY(0%);
}

.project-description {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  background: #ffffff;
}

.project-tittle {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color-theme-light);
}

.project-style {
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
}
/*# sourceMappingURL=main.css.map */