.logo {
    font-family: var(--secondary-font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}
.header__logo {
    margin-right: 88px;
    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }
}
.header__logo_part {
    color: var(--secondary-text-color-theme-light);
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    @media screen and (min-width: 1200px) {
        text-align: start;
        }
}
.footer-logo-part {
    color: var(--primary-text-color-theme-dark);
}